.App{
    min-height: 100vh;
    --color-azul-oscuro: #0084ff;
    --color2-azul-claro: #00b9ff;
    --color3-celeste-oscuro: #00f4ff;
    --color4-celeste: #3affff;
    --color5-celeste-claro: #c3ffff;
    padding-top: 20px;
    background-color: var(--color5-celeste-claro);
}